@import "vars";

.pages{
    display: grid;
    grid-template-columns: 157px 344px 344px 332px;
    grid-auto-rows: minmax(148px, 296px);
    grid-column-gap: 26px;
    
}

.container{
    width: 1200px;
}

