@import "vars";

.main{
    background-color: #E5E5E5;
    padding-bottom: 100px;
}

.container-grid{
    display: grid;
    grid-template-columns: 157px 344px 344px 329px ;
    grid-template-areas: 
    "item1 . . item2"
    "item3 item4 item5 item6"
    "item7 item8 item9 item10"
    "item11 item12 item13 item10"
    ". item14 . .";
    grid-gap: 25px;
    max-width: 1300px;
    margin: 0 auto;
}

.name-elevated{
    grid-area: item1;
    font-weight: 500;
    font-family: $roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    opacity: 96%;
    max-height: 23px;
    min-height: 23px;
    
}

.name-outlined{
    grid-area: item2;
    font-weight: 500;
    font-weight: 500;
    font-family: $roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    opacity: 96%;
    max-height: 23px;
}


.users{
    &-item{
    grid-area: item3;
    background-color: #fff;
    border: 1px solid #0000;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 11px;
    max-height: 90px;
}
    &__title{
    font-family: $roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    padding-bottom: 4px;
    color: rgba(0, 0, 0, 1);
    opacity: 56%;
    }
    &__text{
    font-family: $roboto;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
    }
}

.headline1{
    &-item{
    grid-area: item4;
    max-height: 148px;
    background-color: #fff;
    border: 1px solid #0000;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
    padding-top: 20px;
    padding-bottom: 27px;
    padding-left: 16px;
    padding-right: 76px;
    }
    &__title{
    font-family: $roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 2px;
    opacity: 96%;
        &-link{
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 252px;
        &:hover{
            color: rgba(255, 110, 64, 1);
            transition: .4s;
        }
        &:hover{
            color: rgba(255, 110, 64, 1);
            transition: .4s;
        }
        }
    }  
    &__subtitle{
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
    opacity: 56%;
    padding-bottom: 19px;
    }
    &__text{
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
    opacity: 56%;
    max-width: 253px;
    min-width: 253px;
    }
}

.headline2{
    &-item{
    grid-area: item5;
    max-height: 148px;
    background-color: #fff;
    border: 1px solid #0000;
    border-radius: 4px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 18px;
    }
    &__title{
        display: flex;
        &-text{
            padding-top: 2px;
            font-family: $roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0em;
            color: rgba(0, 0, 0, 1);
            opacity: 96%;
            padding-bottom: 8px;
        }
        &-link{
            text-decoration: none;
            color: rgba(0, 0, 0, 1);
            &:hover{
                color: rgba(255, 110, 64, 1);
                transition: .4s;
            }
        }
        &-description{
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            color: rgba(0, 0, 0, 1);
            opacity: 56%;     
            max-width: 195px;
            min-width: 195px;  
            padding-bottom: 18px;
        }
        
    }
    &-img{
        margin-left: 37px;
        max-width: 80px;
        min-width: 80px;
        max-height: 80px;
        min-height: 80px;
    }
    &__action{
        .action__btn{
            outline: transparent;
            border: none;
            background-color: #fff;
            color: rgba(255, 110, 64, 1);
            font-family: $roboto;
            font-size: 14px;
            line-height: 16px;
            font-weight: 450;
            text-transform: uppercase;
            cursor: pointer;
            margin-right: 24px;
            margin-right: 24px;
            padding-left: 0;
            padding-right: 0;
            transform-style: preserve-3d;
            transition: all 1s;
            &:hover{
                transform-origin: center bottom;
	            transform: rotateX(-90deg) translateY(100%);
                transition: all 1s;
            }
            &:after{
                top: -100%;
	            left: 0;
	            width: 100%;
	            position: absolute;
                background-color: #3a9999;
                border-radius: 5px;
                content: 'text';
                transform-origin: left bottom;
                transform: rotateX(90deg);
            }
        }
    }
}

.headline3{
    &-item{
        grid-area: item6;
        max-height: 148px;
        background-color: #fff;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
        padding-top: 20px;
        padding-bottom: 18px;
        padding-left: 16px;
        padding-right: 64px;
        } 
        &__title{
        font-family: $roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 11px;
        opacity: 96%;
            &-link{
            text-decoration: none;
            color: rgba(0, 0, 0, 1);
            &:hover{
                color: rgba(255, 110, 64, 1);
                transition: .4s;
            }
            }
        }  
        &__text{
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: rgba(0, 0, 0, 1);
        opacity: 56%;
        max-width: 253px;
        min-width: 253px;
        padding-bottom: 16px;
        }
        &__action{
            .action__btn{
                outline: transparent;
                border: none;
                background-color: #fff;
                color: rgba(255, 110, 64, 1);
                font-family: $roboto;
                font-size: 14px;
                line-height: 16px;
                font-weight: 450;
                text-transform: uppercase;
                cursor: pointer;
                margin-right: 24px;
                margin-right: 24px;
                padding-left: 0;
                padding-right: 0;
                transform-style: preserve-3d;
                transition: all 1s;
                &:hover{
                    transform-origin: center bottom;
                    transform: rotateX(-90deg) translateY(100%);
                    transition: all 1s;
                }
                &:after{
                    top: -100%;
                    left: 0;
                    width: 100%;
                    position: absolute;
                    background-color: #3a9999;
                    border-radius: 5px;
                    content: 'text';
                    transform-origin: left bottom;
                    transform: rotateX(90deg);
                }
            }
        }
}


.colors{
    &-item{
        grid-area: item7;
        background-image: url(/img/colors-img.png);
        background-repeat: no-repeat;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
        background-position: center;
        max-height: 74px;
        padding-left: 16px;
        padding-bottom: 16px;
        cursor: pointer;
    }
    &__title{
        color: #fff;
        font-family: $roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        padding-top: 7px;
    }
    &__text{
        padding-top: 6px;
        color: #fff;
    }
}


.headline3__copy{
    &-item{
        grid-area: item8;
        max-height: 148px;
        background-color: #fff;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
        padding-top: 20px;
        padding-bottom: 18px;
        padding-left: 16px;
        padding-right: 64px;
        } 
        &__title{
        font-family: $roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 11px;
        opacity: 96%;
            &-link{
            text-decoration: none;
            color: rgba(0, 0, 0, 1);
            &:hover{
                color: rgba(255, 110, 64, 1);
                transition: .4s;
            }
            }
        }  
        &__text{
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: rgba(0, 0, 0, 1);
        opacity: 56%;
        max-width: 253px;
        min-width: 253px;
        padding-bottom: 16px;
        }
        &__action{
            .action__btn{
                outline: transparent;
                border: none;
                background-color: #fff;
                color: rgba(255, 110, 64, 1);
                font-family: $roboto;
                font-size: 14px;
                line-height: 16px;
                font-weight: 450;
                text-transform: uppercase;
                cursor: pointer;
                margin-right: 24px;
                margin-right: 24px;
                padding-left: 0;
                padding-right: 0;
                transform-style: preserve-3d;
                transition: all 1s;
                &:hover{
                    transform-origin: center bottom;
                    transform: rotateX(-90deg) translateY(100%);
                    transition: all 1s;
                }
                &:after{
                    top: -100%;
                    left: 0;
                    width: 100%;
                    position: absolute;
                    background-color: #3a9999;
                    border-radius: 5px;
                    content: 'text';
                    transform-origin: left bottom;
                    transform: rotateX(90deg);
                }
            }
        }
}



.headline4{
    &-item{
        grid-area: item9;
        max-height: 148px;
        background-color: #fff;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 18px;
        }
        &__title{
            display: flex;
            &-text{
                padding-top: 2px;
                font-family: $roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 23px;
                letter-spacing: 0em;
                color: rgba(0, 0, 0, 1);
                padding-bottom: 4px;
                opacity: 96%;
            }
            &-link{
                text-decoration: none;
                color: rgba(0, 0, 0, 1);
                &:hover{
                    color: rgba(255, 110, 64, 1);
                    transition: .4s;
                }
            }
        
        }
        
        &__overline{
            font-family: $roboto;
            font-weight: 450;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 8%;
            color: #673AB7;
            text-transform: uppercase;
            padding-bottom: 3px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        &__description{
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            color: rgba(0, 0, 0, 1);
            opacity: 56%;     
            max-width: 195px;
            min-width: 195px;  
            padding-bottom: 13px;
        }
        &-img{
            margin-left: 37px;
            max-width: 80px;
            min-width: 80px;
            max-height: 80px;
            min-height: 80px;
        }
        &__action{
            .action__btn{
                outline: transparent;
                border: none;
                background-color: #fff;
                color: rgba(255, 110, 64, 1);
                font-family: $roboto;
                font-size: 14px;
                line-height: 16px;
                font-weight: 450;
                text-transform: uppercase;
                cursor: pointer;
                margin-right: 24px;
                margin-right: 24px;
                padding-left: 0;
                padding-right: 0;
                transform-style: preserve-3d;
                transition: all 1s;
                &:hover{
                    transform-origin: center bottom;
                    transform: rotateX(-90deg) translateY(100%);
                    transition: all 1s;
                }
                &:after{
                    top: -100%;
                    left: 0;
                    width: 100%;
                    position: absolute;
                    background-color: #3a9999;
                    border-radius: 5px;
                    content: 'text';
                    transform-origin: left bottom;
                    transform: rotateX(90deg);
                }
            }
        }
}

.headline5{
    &-item{
        grid-area: item10;
        background-color: #fff;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
        
    }
    &-img{       
        margin-left: -1px;
        margin-top: -1px;
        padding-bottom: 16px;
        max-width: 329px;
        min-width: 329px;
        max-height: 165px;
        min-height: 165px;
    }
    &__title-link{
        font-family: $roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        color: #000000;
        opacity: 96%;
        padding-bottom: 2px;
        padding-left: 15px;
        &:hover{
            color: rgba(255, 110, 64, 1);
            transition: .4s;
        }
    }
    
    &__rating{
        display: flex;
        padding-left: 16px;
        padding-bottom: 6px;
        .stars{
            &__list{
                display: flex;
                li{
                padding-right: 2.65px;
                }
            }
            &-img{
                cursor: pointer;
            }
        }
        .rating__reviews{
            font-family: $roboto;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0em;
            color: #000;
            opacity: 56%;
            padding-left: 10px;
            }
    }    
    &__title-text{
        font-family: $roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        color: #000;
        opacity: 72%;
        padding-left: 16px;
        padding-bottom: 8px;
    }
    &__text{
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: #000;
        opacity: 56%;
        padding-bottom: 24px;
        border-bottom: 1px solid  #E5E5E5;;
        width: 297px;
        margin-left: 16px;
    } 
    &__subtitle{
        font-family: $roboto;
        font-weight: 500;       
        font-size: 16px;
        line-height: 19px;
        padding-left: 16px;
        color: #000000;
        opacity: 72%;
        padding-top: 16px;
        padding-bottom: 6px;
    }
    &__tags{
        display: flex;
        
        padding-bottom: 36px;
        
    }
    &__tag{
        background-color: #E0E0E0;
        border-radius: 100px;
        font-family: $roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        opacity: 72%;  
        padding: 8px 12px 8px 12px;
        margin-left: 8px;
        &:hover{
            background-color:rgba(255, 110, 64, 1);
            transition: .4s;
        }
    }
    &__action{
        padding-left: 16px;
        padding-bottom: 18px;
        .action__btn{
            outline: transparent;
            border: none;
            background-color: #fff;
            color: rgba(255, 110, 64, 1);
            font-family: $roboto;
            font-size: 14px;
            line-height: 16px;
            font-weight: 450;
            text-transform: uppercase;
            cursor: pointer;
            margin-right: 24px;
            margin-right: 24px;
            padding-left: 0;
            padding-right: 0;
            transform-style: preserve-3d;
            transition: all 1s;
            &:hover{
                transform-origin: center bottom;
	            transform: rotateX(-90deg) translateY(100%);
                transition: all 1s;
            }
            &:after{
                top: -100%;
	            left: 0;
	            width: 100%;
	            position: absolute;
                background-color: #3a9999;
                border-radius: 5px;
                content: 'text';
                transform-origin: left bottom;
                transform: rotateX(90deg);
            }
        }
    }
}


.fruits{
    &-item{
        grid-area: item11;
        max-height: 148px;
        background-color: #fff;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
        cursor: pointer;
    }
    &-img{
        max-width: 157px;
        min-width: 157px;
        margin-left: -1px;      
        margin-top: -1px;
        padding-bottom: 12px;
    }
    &__title{
        font-family: $roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        color: #000000;
        padding-left: 16px;
        max-width: 100px;
        padding-bottom: 4px;
        opacity: 96%;
    }
    &__text{
        font-family: $roboto;
        font-size: 14px;
        line-height: 19px;
        line-height: 116%;
        padding-left: 16px;
        color: #000000;
        opacity: 56%;
    }
}

.headline6{
    &-item{
        grid-area: item12;
        max-height: 296px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
        padding-top: 16px;
        background-color: #fff;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
    }
    &-img{
        border: 1px solid #0000;
        border-radius: 4px;
        max-width: 312px;
        min-width: 312px;
        max-height: 200px;
        min-height: 200px;
    }
    &__title-link{
        font-family: $roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        color: #000000;
        opacity: 96%;
        padding-bottom: 2px;
        &:hover{
            color: rgba(255, 110, 64, 1);
            transition: .4s;
        }
    }
    &__text{
        font-family: $roboto;
        font-size: 14px;
        line-height: 19px;
        line-height: 116%;
        color: #000000;
        opacity: 56%;
    }
}


.headline7{
    &-item{
        grid-area: item13;
        max-height: 296px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
        padding-top: 16px;
        background-color: #fff;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
    }
    &-img{
        border: 1px solid #0000;
        border-radius: 4px;
        max-width: 312px;
        min-width: 312px;
        max-height: 200px;
        min-height: 200px;
    }
    &__title-link{
        font-family: $roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        color: #000000;
        opacity: 96%;
        padding-bottom: 2px;
        &:hover{
            color: rgba(255, 110, 64, 1);
            transition: .4s;
        }
    }
    &__text{
        font-family: $roboto;
        font-size: 14px;
        line-height: 19px;
        line-height: 116%;
        color: #000000;
        opacity: 56%;
    }
}


.headline8{
    &-item{
        max-height: 344px;
        grid-area: item14;
        background-color: #fff;
        border: 1px solid #0000;
        border-radius: 4px;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.32);
        padding-top: 16px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 18px;

    }
    &__author{
        display: flex;
        .author{
        &-img{
            margin-right: 10px;
            max-width: 40px;
            min-width: 40px;
            max-height: 40px;
            min-height: 40px;
        }
        &__subtitle{
            font-family: $roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;     
            color: #000000;
            opacity: 48%; 
        }
        &__title-link{
                font-family: $roboto;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;    
                color: #000000;
                opacity: 96%; 
                padding-bottom: 2px;
                &:hover{
                    color: rgba(255, 110, 64, 1);
                    transition: .4s;
                }
        }
    }
    }
    &__text{
        font-family: $roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;  
        color: #000000;
        opacity: 56%; 
        padding-bottom: 28px;   
    }
    &__action{
        display: flex;
        .action__btn{
            outline: transparent;
            border: none;
            background-color: #fff;
            color: rgba(255, 110, 64, 1);
            font-family: $roboto;
            font-size: 14px;
            line-height: 16px;
            font-weight: 450;
            text-transform: uppercase;
            cursor: pointer;
            margin-right: 24px;
            margin-right: 24px;
            padding-left: 0;
            padding-right: 0;
            transform-style: preserve-3d;
            transition: all 1s;
            &:hover{
                transform-origin: center bottom;
	            transform: rotateX(-90deg) translateY(100%);
                transition: all 1s;
            }
            &:after{
                top: -100%;
	            left: 0;
	            width: 100%;
	            position: absolute;
                background-color: #3a9999;
                border-radius: 5px;
                content: 'text';
                transform-origin: left bottom;
                transform: rotateX(90deg);
            }
        }
    }
    &__favorite{
        padding-left: 70px;
        cursor: pointer;
        &:hover{
            
        }
    }
    &__share{
        padding-left: 28px;
        cursor: pointer;
    }
}

.container{
    width: 1200px;
}

