@import "vars";

@media (max-width:1212px){
    .product-img{
        img{
            width: 720px;
        }
        
    }
}


@media (max-width:990px){
    .product-img{
        img{
            width: 540px;
        }
        
    }
}


@media (max-width:767px){
    .product-img{
        img{
            width: 405px;
        }
        
    }
    .details__banner-search{
        input{
            width: 500px;
        }
    }
    button .details__banner-btn{
        top: 200px;
        button{
            top: -90px;
        }
        
    }
}



@media (max-width:776px){
    .header__top{
        .container{
            
        }
    }
    .header__phone{
        font-size: 14px;
        margin-right: 10px;
        padding-left: 20px;
    }
    .header__logo{
        img{
            width: 100px;
        }
    }
    .header__btn{
        button{
            margin-top: 10px;
        }
    }
    .header__inner{
        
    }
}

@media (max-width:468px){
    .header__phone{
        font-size: 12px;
        margin-right: 10px;
        padding-left: 20px;
    }
}


@media (max-width:468px){
    .header__phone{
        font-size: 10px;
        margin-right: 10px;
        padding-left: 20px;
    }
}


@media (max-width: 768px){
    .header__navigation{
        padding-top: 20px;
        padding-bottom: 20px;  
    }
    .menu__btn{
        display: block !important;
        border: none;
        outline: none;
        background-color: $fon;   
    }
        .menu ul{
        display: none;
        position: absolute;
        top: 155px;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #ccc;
    }
        .menu li{
            display: block;
            width: 100%;
            padding-left: 0px!important;
            &:hover{
                background-color: $border;
            }
            a{
                line-height: 0px;
            }
        }
        
        .menu li +li {
            padding-left: 0;
        }

        .menu a{
            display: block; 
            line-height: 10px;
            font-size: 20px!important;
        }
        .header__navigation li a {
            line-height: 30px!important; 
            color: #fff;
            font-size: 30px;
            font-weight: 500;
            padding: 0;
        }
    .banner__search input{
        width: 400px;
    } 
    .strengths__title-text{
        font-size: 18px;
        line-height: 25px;

    }
    .strengths__text{
        font-size: 14px;
        line-height: 20px;
    }
    .products-new__title{
        font-size: 32px;
    }
    .product-trend__title{
        font-size: 32px;
    }
    .partnership__title{
        font-size: 26px;
    }
    .partnership__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .partnership__wrapper{
        width: 100%;
    }
    .partnership__btn{
        width: 200px;
    }
    .tutorials{
        &__img img{
            width: 170px;
        }
        &__item{
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__title{
            font-size: 30px;
        }
        .col-sm-4{
            width: 100%;
        }
    }
    .banner__title{
        font-size: 42px;
    }
}

@media (max-width: 1326px){
    .products-new__item{
        width: 100%;
        margin-left: 15px;
    }
    .slider__item{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

}