@import "vars";

@media (max-width:1212px){
    .product-img{
        img{
            width: 720px;
        }
        
    }
}


@media (max-width:990px){
    .product-img{
        img{
            width: 540px;
        }
        
    }
}


@media (max-width:767px){
    .product-img{
        img{
            width: 405px;
        }
        
    }
    .details__banner-search{
        input{
            width: 500px;
        }
    }
    button .details__banner-btn{
        top: 200px;
        button{
            top: -90px;
        }
        
    }
    .strengths{
        &__title-text{
            font-size: 12px;
        }
        &__text{
            font-size: 10px;
        }
        &__title{
            font-size: 26px;
            padding-bottom: 40px;
        }
    }
}



@media (max-width:776px){
    .header__top{
        .container{
            
        }
    }
    .header__phone{
        font-size: 14px;
        margin-right: 10px;
        padding-left: 20px;
    }
    .header__logo{
        img{
            width: 100px;
        }
    }
    .header__btn{
        button{
            margin-top: 10px;
        }
    }
    .header__inner{
        
    }
}

@media (max-width:468px){
    .header__phone{
        font-size: 12px;
        margin-right: 10px;
        padding-left: 20px;
    }
}


@media (max-width:468px){
    .header__phone{
        font-size: 10px;
        margin-right: 10px;
        padding-left: 20px;
    }
}


@media (max-width: 768px){
    .header__navigation{
        padding-top: 20px;
        padding-bottom: 20px;  
    }
    .menu__btn{
        display: block !important;
        border: none;
        outline: none;
        background-color: $fon;   
    }
        .menu ul{
        display: none;
        position: absolute;
        top: 155px;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #ccc;
    }
        .menu li{
            display: block;
            width: 100%;
            padding-left: 0px!important;
            &:hover{
                background-color: $border;
            }
            a{
                line-height: 0px;
            }
        }
        
        .menu li +li {
            padding-left: 0;
        }

        .menu a{
            display: block; 
            line-height: 10px;
            font-size: 20px!important;
        }
        .header__navigation li a {
            line-height: 30px!important; 
            color: #fff;
            font-size: 30px;
            font-weight: 500;
            padding: 0;
        }
    .banner__search input{
        width: 400px;
    } 
    .strengths__title-text{
        font-size: 18px;
        line-height: 25px;

    }
    .strengths__text{
        font-size: 14px;
        line-height: 20px;
    }
    .products-new__title{
        font-size: 28px;
    }
    .product-trend__title{
        font-size: 32px;
    }
    .partnership__title{
        font-size: 26px;
    }
    .partnership__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .partnership__wrapper{
        width: 100%;
    }
    .partnership__btn{
        width: 200px;
    }
    .tutorials{
        &__img img{
            width: 170px;
        }
        &__item{
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__title{
            font-size: 30px;
        }
        .col-sm-4{
            width: 100%;
        }
    }
    .banner__title{
        font-size: 42px;
    }
    .products-new__btn{
        text-align: center;
        padding-top: 20px;
        button{
            font-size: 12px;
            line-height: 30px;
            padding-left: 20px;
            padding-right: 20px;
            &:nth-child(1){
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media (max-width: 498px){
    .banner__title{
        font-size: 38px;
    }
    .banner__text{
        font-size: 18px;
    }
    .banner__search input{
    width: 300px;
    
} 
}

@media (max-width: 400px){

    .banner__search input{
        width: 250px;
    } 
    .products-new__title{
        font-size: 26px;
    }
}

@media (max-width: 350px){

    .banner__search input{
        width: 200px;
    } 
    .banner__title{
        font-size: 34px;
    }
    .banner__text{
        font-size: 16px;
    }
   
}

@media (max-width: 1326px){
    .products-new__item{
        width: 100%;
        
    }
    .slider__item{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        .products-new{
        &-img{
            img{
                width: 329px;
            max-width: 329px;
            min-width: 329px;
            max-height: 220.38px;
            min-height: 220.38px;
            }
        }
        &__item{
            max-width: 330px;
            min-width: 330px;
        }
        &__rating{
            padding-left: 65px;
        }
    }
}
}

@media (max-width: 1000px){
    .slider__item{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        .products-new{
        &-img{
            img{
            width: 279px;
            max-width: 279px;
            min-width: 279px;
            max-height: 200.38px;
            min-height: 200.38px;
            &:after{
                left: 0px;
            }

            }
        }
        &__item{
            max-width: 280px;
            min-width: 280px;
        }
        &__rating{
            padding-left: 17px;
        }
    }
}
    .strengths{
        &__title-text{
            font-size: 16px;
        }
        &__text{
            font-size: 14px;
        }
        &__title{
            font-size: 28px;
            padding-bottom: 40px;
        }
    }
}


@media (max-width: 846px){
    .slick-slide{
        
    }
    .slider__item{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        
        .products-new{
        &-img{
            img{
            width: 249px;
            max-width: 249px;
            min-width: 249px;
            max-height: 180.38px;
            min-height: 180.38px;
            }
        }
        &__item{
            max-width: 250px;
            min-width: 250px;
        }
        &__rating{
            padding-left: 10px;
        }
    }
    .author-name{
        a{
            font-size: 15px;
            padding-left: 10px;
            padding-bottom: 5px;
        }   
    }
    .product-name{
        a{
            font-size: 12px;
            padding-left: 10px;
            padding-bottom: 8px;

        }
    }
    .products-new-price{
        padding-right: 10px;
        font-size: 16px;
    }
}
}







@media (max-width: 784px){
    .slider__item{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        
        .products-new{
        &-img{
            img{
            width: 229px;
            max-width: 229px;
            min-width: 229px;
            max-height: 150.38px;
            min-height: 150.38px;
            }
        }
        &__item{
            max-width: 230px;
            min-width: 230px;
        }
        &__rating{
            padding-left: 5px;
        }
    }
    
}

}

@media (max-width: 694px){
    .slider__item{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        
        .products-new{
        &-img{
            
            img{
            width: 199px;
            max-width: 199px;
            min-width: 199px;
            max-height: 140.38px;
            min-height: 140.38px;
            
            }
        }
        &__item{
            max-width: 200px;
            min-width: 200px;
        }
        &__rating{
            padding-left: 5px;
            .icon-star{
                font-size: 6px;
            }
            .products-new__orders{
                padding-left: 3px;
                font-size: 10px;
            }
        }
    }
    .description__img{
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 8px;
    }
    .author-name{
        a{
            font-size: 15px;
            padding-left: 10px;
            padding-bottom: 5px;
        }   
    }
    .product-name{
        a{
            font-size: 14px;
            padding-left: 10px;
            padding-bottom: 8px;

        }
    }
    .products-new-price{
        padding-right: 10px;
        font-size: 16px;
    }
}
}


@media (max-width: 612px){
    .slider__item{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        
        .products-new{
        &-img{
            margin-bottom: 0;
            img{
            width: 169px;
            max-width: 169px;
            min-width: 169px;
            max-height: 120.38px;
            min-height: 120.38px;
            
            }
            a{
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        &__item{
            max-width: 170px;
            min-width: 170px;
        }
        &__rating{
            padding-left: 8px;
            padding-top: 17px;
            .icon-star{
                font-size: 4px;
            }
            .products-new__orders{
                padding-left: 3px;
                font-size: 10px;
            }
        }
        &__orders{
            padding-left: 10px;
            font-size: 11px;
            padding-top: 22px;
            span{
                color: $fon;
                font-weight: 450;
            }
        }
    }
    .description__img{
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 5px;
        img{
            max-width: 20px;
            min-width: 20px;
        }
    }
    .author-name{
        a{
            font-size: 13px;
            padding-left: 10px;
            padding-bottom: 5px;
        }   
    }
    .product-name{
        a{
            font-size: 10px;
            padding-left: 10px;
            padding-bottom: 8px;
        }
    }
    .products-new-price{
        padding-right: 10px;
        font-size: 14px;
    }
    .description__name{
        padding-left: 5px;
        padding-top: 20px;
            a{
                font-size: 10px;
                font-weight: 450;
                color: #546e7a;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width:80px;
                &:hover{
                    color: #000;
                    text-decoration: underline;
                }
            }
        
    }
}
    
}

@media (max-width: 564px){
    .slider__item{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        
        .products-new{
        &-img{
            margin-bottom: 0;
            img{
            width: 169px;
            max-width: 169px;
            min-width: 169px;
            max-height: 120.38px;
            min-height: 120.38px;
            
            }
            a{
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        &__item{
            max-width: 170px;
            min-width: 170px;
        }
        &__rating{
            padding-left: 8px;
            padding-top: 17px;
            .icon-star{
                font-size: 4px;
            }
            .products-new__orders{
                padding-left: 3px;
                font-size: 10px;
            }
        }
        &__orders{
            padding-left: 10px;
            font-size: 11px;
            padding-top: 22px;
            span{
                color: $fon;
                font-weight: 450;
            }
        }
    }
    .description__img{
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 5px;
        img{
            max-width: 20px;
            min-width: 20px;
        }
    }
    .author-name{
        a{
            font-size: 13px;
            padding-left: 10px;
            padding-bottom: 5px;
        }   
    }
    .product-name{
        a{
            font-size: 10px;
            padding-left: 10px;
            padding-bottom: 8px;
        }
    }
    .products-new-price{
        padding-right: 10px;
        font-size: 14px;
    }
    .description__name{
        padding-left: 5px;
        padding-top: 20px;
            a{
                font-size: 10px;
                font-weight: 450;
                color: #546e7a;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width:80px;
                &:hover{
                    color: #000;
                    text-decoration: underline;
                }
            }
        
    }
}
    .strengths{
    &__title-text{
        font-size: 20px;
        padding-bottom: 5px;
        text-align: center;
    }
    &__text{
        font-size: 18px;
        padding-bottom: 10px;  
        text-align: center;  
    }
    &__title{
        font-size: 26px;
        padding-bottom: 40px;
        text-align: center;
    }
}
}




@media (max-width:486px){
    .product-img{
        img{
            width: 405px;
        }
        
    }
    .details__banner-search{
        input{
            width: 700px;
        }
    }
    button .details__banner-btn{
        top: 100px;
        button{
            top: -80px;
        }
        
    }
    .strengths{
        &__title-text{
            font-size: 18px;
            padding-bottom: 5px;
            text-align: center;
        }
        &__text{
            font-size: 16px;
            padding-bottom: 10px;  
            text-align: center;  
        }
        &__title{
            font-size: 24px;
            padding-bottom: 25px;
            text-align: center;
            line-height: 30px;
        }
        &__img{
            img{
                width: 80px;
                height: 80px;
                text-align: center;
            }
        }
    }
}


@media (max-width: 446px){
    .header__phone{
        font-size: 8px;
    }
}


@media (max-width: 374px){
    .header{
    &__phone{
        font-size: 6px;
    }
    &__btn button{
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }  
    &__btn{
        margin-left: 5px;
        button,a
        {
            font-size: 10px;
        }
        .header__login{
            padding-right: 10px;
            padding-left: 10px;
            margin-right: 3px;
        }
        .header__registration{
            background-color: $orange;
            padding-right: 4px;
            padding-left: 4px;
            outline: none;
            cursor: pointer;
            font-size: 10px;
        }
    }
    &__logo{
        img{
            width: 70px;
        }
    }
}
    .banner__title{
        font-size: 30px;
    }

}


@media (max-width: 556px){
    .products-new{
    &__btn{
        padding-top: 20px;
        button{
            font-size: 12px;
            line-height: 30px;
            padding-left: 15px;
            padding-right: 15px;
            &:nth-child(1){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    &__item{
        max-width: 300px;
        min-width: 300px;
        .products-new-img{
            a{
            img{
                width: 300px;
                max-width: 300px;
                min-width: 300px;
                max-height: 220px;
                min-height: 220px;
            }
        }
    }
    .products-new__rating{
        padding-left: 50px;
    }
    .products-new-name{
        
        .author-name{
            a{
                font-size: 16px;
                padding-left: 20px;
                padding-bottom: 10px;
                max-width:220px;
                line-height: 15px;
            }   
        }
    }
    .product-name{
        a{
            font-size: 12px;
            padding-bottom: 5px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &-price{
        padding-right: 20px;   
    }
    }
}
}

@media (max-width: 494px){
    .products-new__btn{
        padding-top: 20px;
        button{
            font-size: 12px;
            line-height: 25px;
            padding-left: 10px;
            padding-right: 10px;
            &:nth-child(1){
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}


@media (max-width: 430px){
    .products-new{
        &__title{
            font-size: 24px;
        }
    &__btn{
        button{
            font-size: 12px;
            line-height: 25px;
            padding-left: 10px;
            padding-right: 10px;
            &:nth-child(1){
                padding-left: 10px;
                padding-right: 10px;
            }
            &:nth-child(6){
                margin-top: 5px;
            }
        }
    }
}
}

@media (max-width:1110px){
    .partnership{
    &__title{
        font-size: 26px;
    }
    &__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__wrapper{
        width: 100%;
    }
    &__btn{
        width: 200px;
    }
}
}




@media (max-width:724px){
    .partnership{
    &__title{
        font-size: 20px;
    }
    &__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__wrapper{
        width: 100%;
    }
    &__btn{
        width: 150px;
        font-size: 16px;
        margin-top: 10px;
        margin-left: 40px;
        height: 50px;
    }
}
}



@media (max-width:580px){
    .partnership{
    &__title{
        font-size: 18px;
    }
    &__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__wrapper{
        width: 100%;
    }
    &__btn{
        width: 145px;
        font-size: 14px;
        margin-left: 20px;
        height: 50px;
    }
}
}



@media (max-width:558px){
    .partnership{
    &__title{
        font-size: 17px;
    }
    &__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__wrapper{
        width: 100%;
    }
    &__btn{
        width: 135px;
        font-size: 14px;
        margin-left: 20px;
        height: 50px;
    }
}
}



@media (max-width:490px){
    .partnership{
    &__title{
        font-size: 15px;
    }
    &__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__wrapper{
        width: 100%;
    }
    &__btn{
        width: 120px;
        font-size: 12px;
        margin-left: 15px;
        height: 40px;
    }
}
}



@media (max-width:450px){
    .partnership{
    &__title{
        font-size: 14px;
    }
    &__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__wrapper{
        width: 100%;
    }
    &__btn{
        width: 100px;
        font-size: 10px;
        margin-left: 15px;
        height: 40px;
    }
}
}


@media (max-width:386px){
    .partnership{
    &__title{
        font-size: 12px;
        line-height: 13px;
        text-align: center;
    }
    &__inner{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__wrapper{
        width: 100%;
    }
    &__btn{
        width: 70px;
        font-size: 10px;
        margin-left: 5px;
        height: 40px;
        text-align: center;
        margin-left: 40px;
    }
}
}


@media (max-width:1300px){
    .tutorials{
    .row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .col-sm-4{
            max-width: 100%;
            width: 100%;
            
        }
    }
        &__item{
            margin-bottom: 30px!important;
            margin: 0 auto;
    }
        }
    }



    
@media (max-width:1000px){
    .tutorials{
        &__title{
            font-size: 30px;
        }
        &__text{
            padding-bottom: 15px;
        }
    .row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .col-sm-4{
            max-width: 100%;
            flex: 100%;
            padding-left: 20px;
        }
    }
        &__item{
            margin-bottom: 30px!important;
            margin: 0 auto;
    }
        }
    }



        
@media (max-width:700px){
    .tutorials{
        &__title{
            font-size: 28px;
        }
        &__text{
            padding-bottom: 15px;
            a{
                font-size: 24px;
            }
        }
    .row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .col-sm-4{
            max-width: 100%;
            flex: 100%;
            padding-left: 20px;
        }
    }
        &__item{
            margin-bottom: 30px!important;
            margin: 0 auto;
    }
        }
    }


    
        
@media (max-width:430px){
    .tutorials{
        &__img{
            img{
                width: 270px;
                height: 220px;
                max-height: 220px;
                min-height: 220px;
                max-width: 270px;
                min-width: 270px;

            }
        }
        &__title{
            font-size: 24px;
            padding-bottom: 10px;
        }
        &__text{
            padding-bottom: 10px;
            a{
                font-size: 20px;
            }
        }
    .row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .col-sm-4{
            max-width: 100%;
            flex: 100%;
            padding-left: 40px;
        }
    }
        &__item{
            margin-bottom: 30px!important;
            margin: 0 auto;
            width: 270px;
    }
        }
    }


       
        
@media (max-width:385px){
    .tutorials{
        &__img{
            img{
                width: 270px;
                height: 220px;
                max-height: 220px;
                min-height: 220px;
                max-width: 270px;
                min-width: 270px;

            }
        }
        &__title{
            font-size: 20px;
            padding-bottom: 10px;
        }
        &__text{
            padding-bottom: 10px;
            a{
                font-size: 18px;
            }
        }
    .row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .col-sm-4{
            max-width: 100%;
            flex: 100%;
            padding-left: 40px;
        }
    }
        &__item{
            margin-bottom: 30px!important;
            margin: 0 auto;
            width: 270px;
    }
        }
    }

    @media (max-width:1010px){
        .footer{
            &__form{
                input{
                    width: 180px;
                }
                button{
                    left: 175px;
                }
            }
            &__title{
                font-size: 18px;
            }
            &__text{

            }
            &__phone{

            }
            &___adress{

            }
            &__social{
                width: 100%;
                li:nth-child(4){
                    margin-left: 0;
                }
            }
            &__form{

            }
        }
    }

    @media (max-width:1110px){
        .footer{
            
            &__title{
                font-size: 18px;
            }
        }
    }


    @media (max-width:996px){
        .footer{
            
            &__title{
                
            }
        }
    }

    @media (max-width:874px){
        .footer{
            &__form{
                
                input{
                    width: 150px;
                    margin-left: -30px;
                }
                button{
                    left: 114px;
                }
            }
            &__title{
                font-size: 18px;
            }
            &__text{
                font-size: 14px;
            }
            &__phone{
                font-size: 14px;
                width: 300px;
            }
            &__adress{
                font-size: 14px;
                width: 150px;
            }
            &__list{
                font-size: 14px;
            }
            &__social{
                width: 100%;
                li:nth-child(3){
                    margin-left: 0;
                }
                li:nth-child(5){
                    margin-left: 0;
                }
                li:nth-child(4){
                    margin-left: 8px;
                }
            }
            &__form-title{
                font-size: 16px;
                
            }
            }
            
        }


        @media (max-width:716px){
            .footer{
                &__form{
                    input{
                        
                    }
                    button{
                        left: 105px;
                        margin-left: -20px;
                    }
                }
                &__title{
                    font-size: 18px;
                }
                &__text{
                    font-size: 14px;
                }
                &__phone{
                    font-size: 14px;
                    width: 300px;
                }
                &__adress{
                    font-size: 14px;
                    width: 150px;
                }
                &__list{
                    font-size: 14px;
                }
                &__social{
                    width: 100%;
                    li:nth-child(3){
                        margin-left: 0;
                    }
                    li:nth-child(5){
                        margin-left: 0;
                    }
                    li:nth-child(4){
                        margin-left: 8px;
                    }
                }
                &__form-title{
                    font-size: 16px;
                }
    &__copy-text{
        font-size: 14px;
    }
    }
                
}
    



@media (max-width:640px){
    .footer{
        &__form{
            input{
                
            }
            button{   
                &:before{
                    
                }
            }
        }
        &__title{
            font-size: 18px;
        }
        &__text{
            font-size: 14px;
        }
        &__phone{
            font-size: 14px;
            width: 300px;
        }
        &__adress{
            font-size: 14px;
            width: 150px;
        }
        &__list{
            font-size: 14px;
        }
        &__social{
            width: 100%;
            li:nth-child(3){
                margin-left: 0;
            }
            li:nth-child(5){
                margin-left: 0;
            }
            li:nth-child(4){
                margin-left: 8px;
            }
        }
        &__form-title{
            font-size: 16px;
        }
&__copy-text{
font-size: 14px;
}
}
        
}





@media (max-width:657px){
    .footer{
        &__form{
            input{
            margin-left: -40px;
            height: 35px;
            width: 130px;
            }
            button{  
                height: 35px;
                width: 35px;
                top: -35px;
                left: 100px;
                &:before{
                    font-size: 15px;
                }
            }
        }
        &__title{
            font-size: 16px;
        }
        &__text{
            font-size: 12px;
        }
        &__phone{
            font-size: 12px;
            width: 300px;
            padding-left: 15px;   
        }
        &__adress{
            font-size: 12px;
            width: 120px;
            padding-left: 15px;
        }
        &__list{
            font-size: 12px;
        }
        &__social{
            width: 100%;
            li:nth-child(3){
                margin-left: 0;
            }
            li:nth-child(5){
                margin-left: 0;
            }
            li:nth-child(4){
                margin-left: 8px;
            }
        }
        &__form-title{
            font-size: 14px;
        }
&__copy-text{
font-size: 12px;
}
}
        
}




@media (max-width:586px){
    .footer{
        &__form{
            
            input{
                width: 110px;
                margin-left: -40px;
                height: 25px;
                font-size: 12px;
            }
            button{
                width: 25px;
                height: 25px;
                left: 15px;
                top: -4px;
            }
        }
        &__title{
            font-size: 14px;
        }
        &__text{
            font-size: 10px;
        }
        &__phone{
            font-size: 10px;
            width: 300px;
            padding-left: 15px;   
        }
        &__adress{
            font-size: 10px;
            width: 120px;
            padding-left: 15px;
        }
        &__list{
            font-size: 10px;
        }
        &__social{
            width: 100%;
            ul{
                text-align: center;
            }
            li:nth-child(3){
                margin-left: 0;
                
            }
            li:nth-child(5){
                margin-left: 0;
            }
            li:nth-child(4){
                margin-left: 0px;
            }
            li:nth-child(2){
                margin-left: 0px;
            }
        }
        &__form{
            width: 300px;
            padding-right: 50px;
            margin-right: 50px;
        }
        &__form-title{
            margin-left: -40px;
        }
&__copy-text{
font-size: 10px;
}
}      
}






@media (max-width:506px){
    .footer{
        &__form{
            
            input{
                width: 70px;
                margin-left: -40px;
                height: 25px;
                font-size: 8px;
                padding-left: 3px;
            }
            button{
                width: 25px;
                height: 25px;
                left: 12px;
                top: -4px;
                &:before{
                    font-size: 13px;
                }
            }
        }
        &__title{
            font-size: 14px;
        }
        &__text{
            font-size: 10px;
        }
        &__phone{
            font-size: 10px;
            width: 300px;
            padding-left: 15px;   
            margin-left: -10px;
        }
        &__adress{
            font-size: 10px;
            width: 120px;
            padding-left: 12px;
            margin-left: -10px;
        }
        &__list{
            font-size: 10px;
        }
        &__social{
            width: 100%;
            ul{
                text-align: center;
            }
            li:nth-child(3){
                margin-left: 0;
                
            }
            li:nth-child(5){
                margin-left: 0;
            }
            li:nth-child(4){
                margin-left: 0px;
            }
            li:nth-child(2){
                margin-left: 0px;
            }
        }
        &__form{
            width: 300px;
            padding-right: 50px;
            margin-right: 50px;
        }
        &__form-title{
            margin-left: -40px;
        }
&__copy-text{
font-size: 10px;
}
}      
}





@media (max-width:425px){
    .footer{
        &__form{
            
            input{
                width: 50px;
                margin-left: -30px;
                height: 20px;
                font-size: 8px;
                padding-left: 3px;
            }
            button{
                width: 20px;
                height: 20px;
                left: 12px;
                top: -4px;
                &:before{
                    font-size: 10px;
                }
            }
        }
        &__title{
            font-size: 10px;
        }
        &__text{
            font-size: 8px;
            line-height: 15px;
        }
        &__phone{
            font-size: 8px;
            width: 300px;
            padding-left: 15px;   
            margin-left: -25px;
        }
        &__adress{
            font-size: 8px;
            width: 120px;
            padding-left: 12px;
            margin-left: -25px;
            line-height: 15px;
        }
        &__list{
            font-size: 8px;
            a{
                line-height: 10px;
            }
            a:before{
                font-size: 12px;
            }
        }
        &__social{
            width: 100%;
            ul{
                text-align: center;
            }
            li:nth-child(3){
                margin-left: 0;
                
            }
            li:nth-child(5){
                margin-left: 0;
            }
            li:nth-child(4){
                margin-left: 0px;
            }
            li:nth-child(2){
                margin-left: 0px;
            }
            img{
                width: 15px;
                height: 15px;
            }
        }
        &__form{
            width: 300px;
            padding-right: 50px;
            margin-right: 50px;
        }
        &__form-title{
            margin-left: -30px;
            font-size: 8px;
        }
&__copy-text{
font-size: 8px;
}
}      
}
