@import "vars";


.details__banner{
    background-image: url(/img/product__banner-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 230px;
}


.details___banner-text{
    font-family: $roboto;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    padding-top: 30px;
    text-align: center;
    left: 0;
    right: 0;
}

.details__banner-search{
    text-align: center;
    padding-top: 55px;
    input[type='search']::-webkit-search-decoration, 
    input[type='search']::-webkit-search-cancel-button, 
    input[type='search']::-webkit-search-results-button, 
    input[type='search']::-webkit-search-results-decoration {
        display: none;
}
    input{
        line-height: 60px;
        height: 60px;
        width: 610px;
        padding: 0px 25px;
        background-color: #fff;
        outline: none;
        border: 1px solid #98a38b;
        color: #90a4ae;
        border-radius: 2px;
        border-right: none;
        &::placeholder{
            font-family: $roboto;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            color: #90a4ae;
            
        }
    }
    button{
        border: 1px solid #98a38b;
        background-color: #fff;
        border-radius: 2px;
        position: relative;
        border-left: none;
        width: 63px;
        height: 60px;
        top: -5px;
        left: -6px;
        &:before{
            content: "\f002";
            font-family: 'icomoon';
            position: absolute;
            font-size: 20px;
            color: #78909c;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        &:hover{
            &:before{
                font-size: 25px;
            }
        }
        &:focus{
            outline: none;
        }
    }
}

.product__details{
    background-color: #f4f6f5;
    &-item{
        .product-img{
            img{
                text-align: center;
                border: 1px solid #dcdcdc;
                padding: 20px;
                max-width: 826px;
                background-color: #fff;
            }
            
        }
    }
    .product-title{
        color: #263238;
        font-size: 30px;
        line-height: 40px;
        font-weight: 500;
        padding-top: 40px;
    }

    .product__description{
    color: #707070;
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
    }

    
}

.product{
    border: 1px solid $border;
    background-color: #fff;
    padding: 0px 30px 20px;
    margin-bottom: 30px;
    &__title{
        font-family: $roboto;
        color: $fon;
        font-size: 20px;
        font-weight: 700;
        border-bottom: 1px solid $border;
        line-height: 60px;
        margin-bottom: 10px;
    }
    &__description{
        font-size: 20px;
        line-height: 24px;
        color: #707070;
        font-family: $roboto;
        padding-bottom: 50px;
    }

    &__btn__preview button{
        border: 1px solid $border;
        opacity: none;
        width: 160px;
        height: 50px;
        cursor: pointer;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        text-align: center;   
        background-color: #e74c3c;
        outline: none;
        line-height: 50px;   
    }
    &__btn__screenshoot button{
        border: 1px solid $border;
        opacity: none;
        width: 160px;
        height: 50px;
        cursor: pointer;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        background-color: #455a64;
        outline: none;
        line-height: 50px;  
    }

    &__btn__doc button{
        background-color: #000;
        border: 1px solid $border;
        opacity: none;
        width: 160px;
        height: 50px;
        cursor: pointer;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        background-color: #8bc34a;
        outline: none;
        line-height: 50px;
        margin-right: 80px;
    }

    &__view{
        display: flex;
        justify-content: space-between;
    }
    
    &__social{
        margin-bottom: 57px;
        
        &-item {
            display: inline-block;
            &:nth-child(1) a{
                background-color: #6370b6;
                width: 55px;
                height: 52px;
                color: #fff;
                text-align: center;
                padding-top: 20px;
                font-size: 18px;
            }
            &:nth-child(2) a{
                background-color: #64b5f6;
                width: 55px;
                height: 52px;
                color: #fff;
                text-align: center;
                padding-top: 20px;
                font-size: 18px;
            }
            &:nth-child(3) a{
                background-color: #4f71ce;
                width: 55px;
                height: 52px;
                color: #fff;
                text-align: center;
                padding-top: 20px;
                font-size: 18px;
            }
            &:nth-child(4) a{
                background-color: #d32f2f;
                width: 55px;
                height: 52px;
                color: #fff;
                text-align: center;
                padding-top: 20px;
                font-size: 18px;
            }
            
        }
    }

    .jq-selectbox{
        width: 100%;
    }

    .jq-selectbox__select{
        border-radius: 0;
        border: 1px solid #d5d5d5;
        height: 30px;
        background: #fff;
        right: -15px;
        outline: none;
        width: 85px;
        box-shadow: none;
    }
    .jq-selectbox__select-text{
        line-height: 30px;
        font-size: 13px;
        font-family: $roboto;
        color: #70838d;
        overflow: visible;
    }
    .jq-selectbox__trigger{
        line-height: 30px;
        border-left: none;
    }
    .jq-selectbox__trigger-arrow{
        top: 13px;
        border-top: 5px solid #8bc34a;
        right: 6px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        padding-top: 30px;
        &__price{
            font-size: 22px;
            line-height: 30px;
            color: #e74c3c;
            font-weight: 500;
        }
    }
    &__item__add{
        .product__btn__cart{
            text-align: center;
            padding-bottom: 5px;
            line-height: 50px;
            button{
                border: 1px solid $border;
                opacity: none;
                background-color: $green;
                width: 210px;
                height: 50px;
                cursor: pointer;
                color: #fff;
                font-weight: 500;
                font-size: 16px; 
                text-align: center;
                outline: none;
                &:before{
                    content: "\f07a";
                    font-family: "icomoon";
                    padding-right: 9px;
                }                               
            }
        }

        .product__btn__favorite{
            text-align: center;
            padding-bottom: 5px;
            line-height: 50px;
            button{
                border: 1px solid $border;
                opacity: none;
                background-color: #42a5f5;
                width: 210px;
                height: 50px;
                cursor: pointer;
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                padding-left: 30px;
                position: relative;
                outline: none;
                &:before{
                    content: "\f08a";
                    font-family: "icomoon";
                    padding-right: 9px;
                    position: absolute;
                    left: 30px;
                }
            }
        }
        .product__purchase{
            a{
                border: 1px solid $border;
                opacity: none;
                background-color: #546e7a;
                width: 210px;
                height: 50px;
                color: #fff;
                font-weight: 500;
                font-size: 16px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
    &__author{   
    border: 1px solid $border;
    background-color: #fff;
    padding: 0px 30px 20px;
    margin-bottom: 30px;
    &__title{
        font-family: $roboto;
        color: $fon;
        font-size: 20px;
        font-weight: 700;
        border-bottom: 1px solid $border;
        line-height: 60px;
        margin-bottom: 10px;
    }
    .author-profile-title{        
        float: right;
        font-size: 18px;
        font-family: $roboto;
        color: $fon;
        margin-right: 35px;

    }
    .author-profile__btn{
        a{
            float: right;
            margin-top: -34px;
            border-radius: 0;
            border: 1px solid #d5d5d5;
            height: 25px;
            background-color: #fff;
            outline: none;
            width: 90px;
            line-height: 23px;
            font-size: 13px;
            font-family: $roboto;
            color: #70838d;
            text-align: center;
            margin-right: 20px;
        }
    }
    .author-profile__icons{
        display: flex;
        justify-content: space-between;
        
    }
        }


}

.product__sales{   
    border: 1px solid $border;
    background-color: #fff;
    width: 255px;
    margin-bottom: 30px;
    &-number{
        float: left;
        padding-left: 65px;
        font-size: 20px;
        font-weight: 500;
        color: $fon;
        line-height: 60px;
        position: relative;
        &:before{
            content:"\f07a" ;
            font-family: "icomoon";
            position: absolute;
            left: 30px;
            line-height: 58px;
            color: #a6b5bb;
        }
    }
    &-title{
        padding-left: 105px;
        font-family: $roboto;
        color: #707070;
        font-size: 16px;
        font-weight: 300;
        line-height: 62px;
    }
    

}

.product__information{
    border: 1px solid $border;
    background-color: #fff;
    padding: 0px 30px 20px;
    margin-bottom: 30px;
    &-title{
        font-family: $roboto;
        color: $fon;
        font-size: 20px;
        font-weight: 700;
        border-bottom: 1px solid $border;
        line-height: 60px;
        margin-bottom: 10px;
    }
    &-item{
        font-size: 14px;
        line-height: 36px;
        color: #70838d;
        span{
            color: black;
            font-weight: 450;
        }

    }
    }

    .product__information__compatibility-browser{
        line-height: 20px;
    }


    .tabs{
        display: flex;
        justify-content: space-around;
        .tab{
            width: 225px;
            height: 60px;
            border: 1px solid $border;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
        }
        
    }
    .tab-text{
        height: 265px;
        border: 1px solid $border;
        padding-top: 40px;
        display: flex;
        .tab-text__left{
            padding-left: 55px;
        }
        .tab-text__right{
            padding-left: 55px;
        }
        li{
            line-height: 36px;
            font-size: 16px;
            color: #707070;
            position: relative;
            &::before{
                content: "\f105";
                font-family: "icomoon";
                position: absolute;
                left: -15px;  
                color: $green;
                top: -1px;  
            }
        }

    }

    .tabs__wrapper .active {
        color: #000;
        font-weight: 450;
        border-bottom: 3px solid $green;
      }
      
      .tabs__wrapper .tab-item {
        display: none;
      }
      
      .tabs__wrapper .tab-item:first-child {
        display: block;
      }
      
      .tabs__wrapper{
          margin-bottom: 50px;
          background-color: #fff;
      }

      .product__about {
        border: 1px solid $border;
        background-color: #fff;

        padding-left: 30px;
        margin-bottom: 30px; 
        a{
            color: $fon;
            font-size: 18px;
            line-height: 64px;
            font-weight: 450;
        } 
      }

      .breadcrumbs{
          background-color: #f4f6f5;
      }