@import "vars";


.details__banner{
    background-image: url(/img/product__banner-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 230px;
}


.details___banner-text{
    font-family: $roboto;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    padding-top: 30px;
    text-align: center;
    left: 0;
    right: 0;
}

.details__banner-search{
    text-align: center;
    padding-top: 55px;
    input[type='search']::-webkit-search-decoration, 
    input[type='search']::-webkit-search-cancel-button, 
    input[type='search']::-webkit-search-results-button, 
    input[type='search']::-webkit-search-results-decoration {
        display: none;
}
    input{
        line-height: 60px;
        height: 60px;
        width: 610px;
        padding: 0px 25px;
        background-color: #fff;
        outline: none;
        border: 1px solid #98a38b;
        color: #90a4ae;
        border-radius: 2px;
        border-right: none;
        &::placeholder{
            font-family: $roboto;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            color: #90a4ae;
            
        }
    }
    button{
        border: 1px solid #98a38b;
        background-color: #fff;
        border-radius: 2px;
        position: relative;
        border-left: none;
        width: 63px;
        height: 60px;
        top: -5px;
        left: -6px;
        &:before{
            content: "\f002";
            font-family: 'icomoon';
            position: absolute;
            font-size: 20px;
            color: #78909c;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        &:hover{
            &:before{
                font-size: 25px;
            }
        }
        &:focus{
            outline: none;
        }
    }
}

.product__details{
    &-item{
        .product-img{
            
            img{
                text-align: center;
                border: 1px solid #dcdcdc;
                padding: 20px;
            }
            
        }
    }
    .product-title{
        color: #263238;
        font-size: 30px;
        line-height: 40px;
        font-weight: 500;
        padding-top: 40px;
    }

    .product__description{
    color: #707070;
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
    }

    
}

.categories{
    max-width: 100px;
}