@import "vars";

.all-items{
    background-color: #f4f6f5;
}

.breadcrumbs{
    padding: 45px 0px 40px;
}

.breadcrumbs-item{
    display: inline-block;
    position: relative;
    a{
        color: #b0bec5;
        line-height: 40px;
    }
    span{
        color: $fon;
    }
    & + .breadcrumbs-item{
        padding-left: 24px;
        &:before{
            content: '';
            position: absolute;
            background-color: $green;
            width: 5px;
            height: 1px;
            top: 50%;
            left: 8px;
        }
    }
}

.pagination__item{
    display: inline-block;
    padding-bottom: 110px;
    & + .pagination__item{
        padding-left: 7px;
    }
    a{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: $fon;
        font-size: 16px;
        background-color: #fff;
        font-weight: 500;
    }
    .active{
        background-color: $orange;
        width: 40px;
        height: 40px;
        color: #fff;
    }
}

.categories{
    border: 1px solid $border;
    background-color: #fff;
    padding: 0px 30px 20px;
}

.categories__title{
    font-family: $roboto;
    color: $fon;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid $border;
    line-height: 60px;
    margin-bottom: 10px;
}


.categories__item {
    a{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
}

.categories__name{
    font-family: $roboto;
    color: $fon;
    position: relative;
    padding-left: 20px;
    &:before{
        content: "\f105";
        left: 0;
        position: absolute;
        color: $green;
        font-family: "icomoon";
    }
}

.categories__number{
    color: $text;    
}